<div class="col-sm-4 col-md-4">
	<div class="spot">
		<h4> <%= spot.name %></h4>
			<%= render_spot_image_helper spot %>
			<!--Link to modal -->
			<%= link_to t('sticker_album.spot.stick'), 
				new_user_album_spot_path(@user, @album)+
				"?sticker_default_id=#{spot.sticker_default_id}", 
				class:"btn btn-default",
				'data-toggle'=>"modal",
				'data-target'=>"#application-modal",
				remote: true if controller_name == "albums" &&
				                    action_name == "show" %>
	</div>
</div>