<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello&nbsp;<%= @receiver.username %>,</h1>
    <p>
      My username is <%= @offerer.username %> 
      I would like trade my Stickers with you.<br>
    </p>
    <p>Thanks!</p>
  </body>
</html>